@charset "utf-8";
/*
 * size
 * 各種サイズ
 */
$size-widemargin: 40px;
$size-narrowmargin: 20px;
$size-widemargin-sp: 20px;
$size-narrowmargin-sp: 10px;

$size_sp_bp: 769px;
$size-tab_bp: 991px;
$size_bootstrap_sp_bp: 767px;
