<nav class="l-nav col-sm-3 hidden-xs">
  <h2>注文について</h2>
  <ul>
    <li><a href="{{ url(app.config.user_data_route, {'route': 'readme'}) }}">初めての方</a></li>
    <li><a href="/user_data/guide/flow">注文の流れ</a></li>
    <li><a href="/user_data/guide/draft">デザインデータ入稿について</a></li>
    <li><a href="/user_data/guide/price">価格について</a></li>
    <li><a href="/user_data/guide/shippingday">配送について</a></li>
    <li><a href="/user_data/guide/posting">投函について</a></li>
    <li><a href="/user_data/guide/deliverygday">納期について</a></li>
    <li><a href="/user_data/guide/pay">お支払い方法</a></li>
    <li><a href="/user_data/guide/cancel">キャンセル・返金交換について</a></li>
  </ul>

  <h2>宛名印刷</h2>
  <ul>
    <li><a href="/user_data/guide/flow">注文の流れ</a></li>
    <li><a href="/user_data/guide/address">宛名印刷レイアウト</a></li>
    <li><a href="/user_data/guide/list">住所録データの作成について</a></li>
  </ul>

  <h2>困ったとき</h2>
  <ul>
    <li><a href="/user_data/guide/faq">よくある質問</a></li>
    <li><a href="http://contact.dm-house.jp">お問い合わせ</a></li>
  </ul>

</nav>