{% extends 'default_frame.twig' %}

{% block breadcrumb %}
    <div class="l-breadcrumb container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url('homepage') }}">TOP</a></li>
      <li class="breadcrumb-item">{{title}}</li>
    </ol>
  </div>
{% endblock %}

{% block main %}

  <p>株式会社フューチャースタイル（以下、「当社」といいます）が提供する、DMハウスドットコム（以下、「本サービス」といいます）を利用される前に必ず以下の利用規約をお読みください。この利用規約は、本サービスに会員登録される方及び本サービスを利用されるお客様全てに適用され、この利用規約の内容に同意なく本サービスを利用するこはできません。なお、お客様が本サービスをご利用頂いた時点で、お客様は本規約に同意したものとみなします。</p>

  <h4>第1条　サービス内容</h4>
  <p>1.本サービスにアップロードされた画像データをプリント注文等することができます。<br>
      2.本サービスでプリントしたものを、お客様が指定した場所（国内のみ）へ送る事ができます。</p>
    
  <h4>第2条　本サービスの利用について</h4>
  <p>1.本サービスを利用する方は本規約に同意し、本サービスの利用において当社の指定する方法に従って入力された必要事項の情報をもとに、本サービスの利用及び会員登録を行うものとします。<br>
  2.当社は前項の会員登録を行った方に対しその申請内容について審査を行い、当社が承諾したときに本サービスの利用の継続を許可致します。<br>
  3.当社は、会員が以下の項目に該当する場合、本サービスの提供を停止する場合があります。本サービスの提供を停止する場合、当社はその理由を会員に原則として開示致しません。<br>
      ・登録申請の内容に虚偽事項、誤記または記入もれがあった場合。<br>
      ・会員が過去に会員規約違反等により、会員資格の取消しが行われている場合。<br>
      ・会員の指定したクレジットカードが、クレジットカード会社、収納代行会社、金融機関等により、利用停止処分等が行われている場合。<br>
      ・その他、当社が会員とすることに不適当と判断する場合。<br>
      ・会員は、登録電子メールアドレスおよび固有パスワードを自己の責任をもって管理するものとし、第三者に使用させず、また譲渡等を行わないものとします。<br>
      ・登録電子メールアドレスおよび固有パスワードが会員以外の第三者に使用された場合、当該使用が当社の責に帰すべき事由により生じたものである場合を除き、その使用の結果から生じる一切の問題は会員が責任をもって処理するものとし、当社に対し何ら迷惑をかけないものとします。<br>
      ・登録内容が常に正確で最新のものであるよう適宜修正していただくことが会員の義務となります。<br>
      なお、当社は反社会的勢力の構成員およびその関係者の方、サービスを悪用したり、第三者に迷惑をかけたりするようなお客様に対してはご利用をお断りしております。</p>

  <h4>第3条　注文</h4>
  <p>1.会員アドレスおよびパスワードを用いて行われたご注文については、会員の有効な意思表示であるものとし、正当なご注文とみなします。<br>
  2.通信販売は、直接的勧誘を受けないという理由から、クーリングオフ制度の対象外となります。<br>
  3.当社は、プリントサービスでの注文品の発送手続きが完了した時点で、注文を行ったお客様に電子メールにて商品の受け取りに関する連絡を致します。お客様は商品発送後、配送事業者が定める保管期限内（以下、「受け取り期限」といいます。）に注文商品を受け取るものとします。受け取り期限を超えた場合、注文商品が処分されることがありますが、代金の支払い義務を免れるものではありません。尚、受け取り期限後の注文商品の受け渡しについては、当社は一切関与致しません。<br>
  4.お客様は、注文商品受け取り後6日以内に内容を確認し、注文商品について欠陥等がある場合、この期間内に当社が別途定める連絡先に申し出るものとします。<br>
  5.当社はプリント作業に細心の注意を払いますが、通信障害や予期せぬ事故が起きた場合、お客様の画像データが損なわれる可能性があります。この場合、お客様に画像データの再送信をお願いすることがあります。<br>
  6.当社は画像データや画像データに含まれるExif情報に基づきプリントをいたしております。そのためどちらかのデータが損なわれていた場合には、正しく画像をプリントすることができません。
</p>
    
  <h4>第4条　注文取消</h4>
  <p>1.当社はご注文が完了いたしますとただちにプリント作業を開始、商品等の出荷処理を行いますので、ご注文完了後の取り消しはできません。</p>
    
  <h4>第5条　売買契約の成立</h4>
  <p>1.お客様が正規の手続きに従いご注文を完了した時点で、ご注文いただいた取扱商品の売買契約が成立するものとします。</p>
    
  <h4>第6条　商品の引渡し</h4>
  <p>1.ご注文時に登録がなされた商品をお届け先に配送したことをもって、商品の引渡しを完了するものとします。商品お届け先の住所がご登録どおりであっても、商品お届け先の屋号・会社名などを建物外観や表札から確認できない場合は商品をお届けできない場合がございます。<br>
  2.お届け先の登録ミス・表札が出ていないなどの理由で商品がお届けできなかった場合、当社はその責任を負いません。また、再送付の費用をご負担いただくことがございます。<br>
  3.商品の紛失・盗難・事故、配達後の紛失・破損等について、商品の補償はできません。</p>
    
  <h4>第7条　商品受領拒否</h4>
  <p>1.注文時にお届け先に指定された受取人が商品等の受領に応じない場合、その他お客様の都合で商品お届け先への引渡しができない場合には、当社に返品後7日間を限度として商品の保管をいたしますが、この場合、商品等の費用を申し受けることができるものとします。<br>
  2.お客様が前項の期間内に商品を引き取らない場合は、売買契約の解除とみなします。<br>
  この場合、当社は当該商品の引渡義務を免れるとともに、お客様から商品相当額を申し受けます。</p>
    
  <h4>第8条　お支払</h4>
  <p>1.お客様は、注文時に選択した支払い方法にて速やかに代金を支払うものとします。<br>
  2.お客様の都合により代金が未払いになった時には、支払いが完了するまで、会員の代金支払いの義務は継続するものとします。</p>
    
  <h4>第9条　返品</h4>
  <p>1.商品発送後のお客様のご都合による返品につきましては、以下の場合を除きお受けすることは出来ません。<br>
      ・傷・折れ・汚れなど当社起因による商品破損が確認された該当分の商品<br>
      ・ご注文時と異なるデザインで納品された該当分の商品<br>
      ・ご注文時と異なる枚数指定で納品された該当分の商品<br>
  2.返品期間は、製品の到着後6日以内にご連絡を頂いた後、14日以内での対応を期限と致します。<br>
  3.返品に伴う送料は、会員の負担となります。ただし、当社に原因がある場合は、当社で負担させていただきます。<br>
  4.返品に対するご返金については、原則として製品と引き換えとさせていただきます。<br>
  5.不良品につきましては、個別対応とさせていただきますが、原則として代替製品との引き換えとさせていただきます。<br>
      ・仕上がり品質は、ユーザーがアップロードした画像データの品質に左右され、お客様のパソコンモニター上とは品質が異なる場合があります。ユーザーの期待する仕上がり品質と実際の仕上がり品質が異なる場合でも、当社は一切の責任を負いません。<br>
      ・送信された画像データ（100万画素以下となる低画素数の画像データ、破損や撮影時の設定ミスなど）に起因する仕上がりの不具合や、ご注文時に日付有無の操作設定を誤って注文された商品の再プリントや返金は一切お受けできませんので、ご容赦ください。<br>
      ・注文後の修正などは一切できませんので、差出人名、コメントの誤字・脱字には十分配慮して制作し、ご注文前に必ず内容をお確かめください。</p>
    
  <h4>第10条　お客様の責任と義務</h4>
  <p>1.お客様は、デジタル画像あるいはその他のコンテンツの送信、あるいはそれらのダウンロードあるいはアップロードについては、ご自身の責任において行なうものとします。当社はお客様がシステムを利用して発信するいかなるコンテンツに対しても一切の責任を負うことはいたしません。 お客様の画像やコンテンツへの損失や損害、ダウンロードあるいはアップロードに起因するお客様のコンピュータシステムへの損害やデータの損失は会員の責任とします。またお客様の責任でデジタルコンテンツのバックアップをとるものとします。<br>
  2.お客様は、注文後に得られる注文情報をすべて自己の責任において管理するものとします。<br>
  3.お客様は、本サービス上にて商品の注文完了後は、注文のキャンセルはできないものとします。<br>
  4.お客様または授権された代理人は、お客様が受け取りを指定した場所にて注文商品を受け取る場合、住所及び氏名により本人（もしくは指定された受取人）であるとみなされ、注文商品を受け取ることができます。<br>
  5.お客様は、登録内容が常に正確で最新のものであるよう適宜修正していただくことが義務となります。</p>
    
  <h4>第11条　会員情報の変更</h4>
  <p>1.会員は、氏名、住所、電子メールアドレスその他本サービスの利用登録に係る必須事項に変更が生じた場合、当社が定める方法（会員ページよりログイン）により、速やかにその変更内容を当社に通知するものとします。<br>
      変更の届出がないために会員が損害を受けた場合において、当社はその責任を負いません。</p>
    
  <h4>第12条　著作権・肖像権等</h4>
  <p>1.禁止事項の確認や運用管理上当社が必要と思われる場合、当社はお客様の画像もしくはコンテンツの内容を確認できるものとします。<br>
  2.お客様は、画像もしくはコンテンツを本サービスにアップロードするにあたり、その画像もしくはコンテンツの著作権、肖像権を自身が保有するか、または著作権者及び肖像権者からアップロードの許可を得るものとします。<br>
  3.当社は、本サービス上のお客様の画像もしくはコンテンツが以下のいずれかに該当する場合には、お客様に対し事前に通知することなく、該当する会員の画像もしくはコンテンツを削除することができるものとします。<br>
      ・第三者の著作権または肖像権を侵害している、または侵害するおそれがあると認めた場合。<br>
      ・第20条で定める禁止事項に該当すると判断した場合。<br>
      ・その他、掲示が不適切と判断した場合。<br>
      ・前2項において、ご利用者が第三者との間で権利の侵害等に関する問題が生じた場合  、お客様は自己の責任と費用負担により解決するものとします。</p>
    
  <h4>第13条　個人情報の取扱</h4>
  <p>1.当社は、本サービスを通じてご提供を受けたお客様の個人情報を適切な方法で管理するものとし、お客様の個人情報を以下の目的に限り利用するものとします。<br>
      ・会員登録のため<br>
      ・当社サービスを提供するため<br>
      ・商品の販売、発送のため<br>
      ・購入商品代金の徴収のため<br>
      ・本人確認、認証サービスのため<br>
      ・アフターサービス、お問い合わせに対応するため<br>
      ・情報メールの配信のため<br>
      ・キャンペーンのため<br>
      ・当社サービスに関して、個人を識別できない形式に加工した統計データを作成するため<br>
      ・本サービスに関するアンケートを実施するため<br>
      ・当社および第三者（当社が適切と判断した企業）のカタログやDM等の発送<br>
      ・お客様によるサービスの利用（取引履歴に関する情報）を分析し、新規サービスの開発や既存サービスの改善をするため<br>
      なお、個人情報の取り扱いについては、別途、当社が定めるプライバシーポリシーに基づくものとします。<br>
      2.当社は、前項の利用目的の達成に必要な範囲内で、お客様情報の取り扱いの一部又は全部を委託する場合があります<br>
      この場合、当該委託先企業に対して、お客様情報の適正な取り扱いと会員等のプライバシー保護に十分に配慮するよう、必要な契約を締結の上、指導・管理するものとします。<br>
      3.当社は、前項の場合を除き、会員情報を第三者に提供いたしません。また、お客様情報を第三者に提供する必要が生じた場合、予め本人の同意を得ます。<br>
      4.お客様が本サービスを利用するにあたり、必要な個人情報をご入力いただけない場合、本サービスをご提供できないことがあります。</p>
    
  <h4>第14条　通知</h4>
  <p>1.当社からお客様への通知は、電子メール、本サービス上での掲示、またはその他当社が適当と認める方法により行われるものとします。<br>
      また、当社からのキャンペーン案内・サービスに関する情報提供を会員へ通知する場合は、メルマガ配信をご希望されていない会員も含め、全ての会員へ通知されます。<br>
      2.当社からお客様への通知がメールにより行われる場合、当社がお客様の登録電子メールアドレス宛に電子メールを発信した時点で、通知内容が到達したものとみなします。<br>
      3.通知が本サービス上に掲示されることにより行われる場合、当該通知が本サービス上に掲示され、お客様が閲覧可能となったときをもって通知が完了したものとみなします。<br>
      4.お客様から当社への連絡を希望される場合は、本サービス上のお問い合わせページより行っていただくものとします。<br>
      5.当社は、お客様のお問い合わせに対する回答を原則としてメールかお電話にて行います。</p>
    
  <h4>第15条　個人情報の開示及び提供</h4>
  <p>1.当社は、以下のいずれかに該当する場合を除き、お客様の個人情報を第三者に開示・提供しないものとします。<br>
      ・お客様が開示について事前に同意している場合<br>
      ・お客様の注文に関する商品・サービスの代金決済のために、決済会社に対し氏名・クレジットカード番号・クレジットカード有効期限・本サービスの利用状況等を開示する場合 <br>
      ・合併、会社分割、事業譲渡その他の事由による事業承継に伴い、事業承継先に提供する場合<br>
      ・人命を保護するために緊急に公的機関または信頼できる第三者機関に開示を行う必要がある場合合<br>
      ・司法機関、警察等の公的機関による法令に基づく要請に協力する場合<br>
      ・法令の規定に基づき開示を要求された場合</p>
    
  <h4>第16条　退会</h4>
  <p>1.会員は、本サービスにて当社が用意する方法（会員ページよりログイン）により、いつでも退会できます。</p>
    
  <h4>第17条　会員登録情報の利用停止および削除</h4>
  <p>1.会員が以下の各号に該当すると当社が判断した場合、当社は予告なく当該会員の会員登録情報を利用停止および削除することができるものとします。<br>
      ・本規約に違反した場合<br>
      ・当社が会員として不適当と判断した場合<br>
      前1項に基づき当社から利用停止及び削除された会員は、新規会員登録はできないものとします。
1年間以上利用されていない登録情報について、当社の判断によりいつでも本サービスへの登録を抹消できるものとし、会員は予めこれに同意します。<br>
      前3項に基づく登録情報削除により会員に生じた損害等について、当社は一切責任を負わないものとします。</p>
    
  <h4>第18条　会員資格喪失について</h4>
  <p>1.会員の退会、会員資格の抹消等の理由により会員資格を失った場合、当社はその時点で当該会員が本サービスにて登録した画像やデータを含む一切のデータを削除できるものとします。</p>
    
  <h4>第19条　広告・宣伝</h4>
  <p>1.当社はより良いサービスをご提供できるように、本サービスの一部は広告収入に支えられており、既存サービスおよび新規サービスの開発や改善に努めております。<br>
  2.当社は本サービスやサイトの一部に、当社や提携先の広告および宣伝を掲載できるものとします。<br>
  3.当社は配信電子メール「メールマガジン」の一部に、当社や提携先の広告および宣伝を掲載できるものとします。<br>
  4.当社は本サービスと一緒に当社や提携先のカタログやDM等の発送ができるものとします。<br>
  5.本サービス上の当社による広告の様式、形態および範囲は、お客様に対し特定の通知を行うことなく変更されることがあります。</p>
    
  <h4>第20条　禁止事項</h4>
  <p>1.本サービスの利用にあたり、お客様は以下のことを行わないものとします。<br>
      ・会員登録および本サービスの利用において、虚偽の事実を届け出、または提供すること<br>
      ・本サービスにおいて当社が提供する情報、および本サービスのプログラムを改ざんすること<br>
      ・有害なコンピュータプログラム等を送信すること<br>
      ・当社もしくは第三者の著作権、商標、その他一切の知的財産権（著作隣接権を含む）、財産、プライバシーもしくは肖像権その他の権利を侵害すること、または侵害する恐れのある行為を行うこと<br>
      ・当社、もしくは第三者を誹謗中傷、もしくは差別し、またはその名誉もしくは信用を傷つけること<br>
      ・当社、もしくは第三者の業務を妨害すること<br>
      ・猥褻・暴力的な画像、音声等の情報を本サービスに公開・掲示し、また送信すること<br>
      ・法令・条例に違反すること、または公序良俗に違反すること<br>
      ・当社が承認した場合を除き、本サービスを通じて入手した画像やデータ等を、著作権法で認められた私的利用の範囲を超えて複製、頒布、出版、ホームページへのアップロード等の送信、その他の態様により利用すること<br>
      ・手段の如何を問わず、本サービスの運営を妨害するおそれのあること<br>
      ・その他当社が不適当と判断すること<br>
      ・物品の販売その他商業目的ないし営利目的の活動、選挙の事前運動その他公職選挙法に抵触すること<br>
      ・宗教の布教活動またはこれらに類似すること</p>
    
  <h4>第21条　使用停止</h4>
  <p>1.本規約違反、本サービスの運用への支障、裁判所・警察等の公的機関からの法令に基づく要請への協力、その他当社が何らかの緊急性を認めた場合、当社はお客様への通知または同意なく、本サービスの利用をただちに停止することができるものとします。<br>
  2.前項の措置によりお客様が損害を被った場合でも、当社は一切その責任を負いません。</p>
    
  <h4>第22条　変更・中断・停止</h4>
  <p>1.当社は、お客様に事前に通知することなく、本サービスの内容の全部または一部を変更もしくは中断することがあります。<br>
      ・システムの定期保守および緊急保守のために必要な場合<br>
      ・システムに負荷が集中した場合<br>
      ・火災、停電、第三者による妨害行為などによりシステムの運用が困難になった場合<br>
      ・その他、止むを得ずシステムの停止が必要と当社が判断した場合<br>
  2.当社は、理由の如何にかかわらず、予告なく本サービスの全部もしくは一部の提供を停止し、または廃止することがあります。<br>
  3.当社は、本サービスの変更、中断・停止ないし廃止、もしくは理由の如何を問わず発生した本サービスの遅延、中断等によりお客様に生じた損害（画像やデータの消失等により生じた損害を含む）について、一切の責任を負わないものとします。</p>

  <h4>第23条　損害賠償・免責</h4>
  <p>1.本サービスの利用に関連して、お客様が本規約に違反し、または不正もしくは違法な行為により、当社に損害を与えた場合、当該会員はその損害（弁護士費用を含む）を賠償しなければならないものとします。<br>
  2.本サービスの利用に関連して、お客様と第三者との間に紛争が生じた場合、お客様はその費用および負担により当該紛争を解決し、当社に一切損害を与えないものとします。<br>
  3.当社は、本サービスの利用に関連して発生したお客様の損害については一切責任を負わないものとします。<br>
  4.当社は本サービスが常時利用可能であることや安全であること、また間違いがないことを保証いたしません。<br>
  5.当社は本サービスおよび使用しているサーバーにウイルスないし障害を引き起こす可能性のあるコンポーネントが存在しないことも保証致しません。<br>
  6.当社は当社に対して損害の可能性があると示唆された場合であっても、以下において利益の損失や使用データ・その他の無形のものを含むいかなる直接的・間接的・偶発的<br>
      ・結果的損害について、責任を負わないものとします。<br>
      ・写真の加工・保管・処理に起因する場合<br>
      ・本サービスが利用不可能であることに起因する場合<br>
      ・本サービスおよび本サービスで提供する商品・役務の変更に起因する場合<br>
      ・お客様のデータへの不正アクセスないし不正な変更に起因する場合<br>
  7.当社は、お客様のプライバシー保護に十分留意しますが、本サービスでのセキュリティー機能には限界があり、お客様のプライバシーを完全に保護する保証を行うものではありません。お客様はこのことを承諾の上、本サービスを利用するものとします。<br>
  8.本サービスにおける配送中の事故に関して、当社は責任を負わないものとします。</p>
    
  <h4>第24条　その他</h4>
  <p>1.当社は、お客様の承諾を得ることなく本規約を変更できるものとします。変更後の本規約は、当社が別途定める場合を除き、当社Webサイト上に掲載した時をもって効力を生じます。<br>
  2.本規約は日本法に従って解釈されるものとします。<br>
  3.本規約、本サービスの利用に関して紛争が生じた場合には、ご利用者および当社は誠意をもって協議し、これを解決するものとします。協議によっても解決しない場合は、当方が指定する地方裁判所を専属的な第一管轄裁判所とするものとします。</p>
    

{% endblock %}
