{% extends 'default_frame.twig' %}

{% block breadcrumb %}
    <div class="l-breadcrumb container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url('homepage') }}">TOP</a></li>
      <li class="breadcrumb-item">{{title}}</li>
    </ol>
  </div>
{% endblock %}

{% block main %}

  <p>DMハウスドットコムを運営する株式会社フューチャースタイル（以下、「当社」といいます。）は、当社が提供するサービス、商品（以下、「当サービス」といいます。）を安心してご利用いただけるように、お客様の個人情報保護の重要性について認識し、個人情報に関する法律を遵守するとともに、以下の方針にしたがい、個人情報を適切に取り扱います。</p>
    
  <h4>Ⅰ．直接書面以外で取得した個人情報の取扱いについて</h4>
  <p>
    １．当社では以下の目的で個人情報を利用します。<br>
    &emsp;（１）顧客から受託した印刷業務<br>
    &emsp;（２）顧客から受託した発送代行業務
  </p>

  <p>
    ２．当社への個人情報の利用目的の通知、開示、内容の訂正、追加または削除、利用の停止、消去及び第三者への提供の停止、個人情報の取り扱いに関する苦情は、以下の連絡先までご連絡ください。
  </p>

  <p>
    ＜個人情報に関する連絡先＞<br>
    株式会社Future style　顧客相談窓口責任者<br>
    ＴＥＬ　：03-5918-8046
  </p>


  <h4>Ⅱ．開示対象個人情報に関する周知について</h4>

  <p>
    ご本人から求められる個人情報の利用目的の通知、開示、内容の訂正、追加または削除、利用の停止、消去及び第三者への提供の停止の求めにすべてに応じることができる権限を有するもの（開示対象個人情報という）の当社での取り扱いについて、以下のように通知いたします。
  </p>

  <p>
    １．個人情報を取り扱う事業者について<br>
    &emsp;株式会社Future style
  </p>

  <p>
    ２．個人情報保護管理者<br>
    &emsp;株式会社Future style　内田 信太郎
  </p>

  <p>
    ３．開示対象個人情報の利用目的について<br>
    &emsp;（１）社員管理、採用関係のため<br>
    &emsp;（２）顧客管理のため
  </p>

  <p>
    ４．開示対象個人情報の取扱に対する苦情の申し出先<br>
    &emsp;開示対象個人情報の取り扱いに関する苦情・相談は、以下の＜個人情報に関する連絡先＞に記載してある連絡先までご連絡ください。
  </p>

  <p>
    ＜個人情報に関する連絡先＞<br>
    &emsp;株式会社Future style　顧客相談窓口責任者<br>
    &emsp;ＴＥＬ： 03-5918-8046
  </p>
  
  <p>
    ５．開示等の請求について<br>
      &emsp;当社で取り扱っている開示対象個人情報について、当社への個人情報の利用目的の通知、開示、内容の訂正、追加または削除、利用の停止、消去及び第三者への提供の停止を求められる場合、以下に記載してある連絡先までご連絡ください。開示等のご請求についての手続及び対応をさせていただきます。<br>
      &emsp;&nbsp;（1）開示等の申出先<br>
      &emsp;&emsp;&emsp;株式会社Future style　顧客相談窓口責任者<br>
      &emsp;&emsp;&emsp;住　所　：東京都板橋区前野町３丁目47-2　パークサイド弘洋1F<br>
      &emsp;&emsp;&emsp;電話番号：03-5918-8046<br>
      &emsp;&nbsp;（2）開示等のご請求の受付<br>
      &emsp;&emsp;&emsp;開示等の対応に関しましては、電話または直接来訪いただき、ご請求いただきますようお願いいたします。<br>
      &emsp;&nbsp;（3）本人確認方法について<br>
      &emsp;&emsp;&emsp;免許証、住民基本台帳ネットワークカード（写真付き）等にてご確認をさせていただきます。<br>
      &emsp;&emsp;&emsp;またお電話に御連絡いただいた場合には、改めて当社よりご連絡をさせていただきます。<br>
      &emsp;&nbsp;（4）手数料<br>
      &emsp;&emsp;&emsp;無料。ただし、手数料について変更をする場合には、あらかじめ公表します。
  </p>

{% endblock %}
