{% extends 'default_frame.twig' %}

{% block breadcrumb %}
    <div class="l-breadcrumb container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url('homepage') }}">TOP</a></li>
      <li class="breadcrumb-item">{{title}}</li>
    </ol>
  </div>
{% endblock %}

{% block main %}
<h3><span></span>特定商取引法に基づく表記</h3>
        
      <h4>運営会社</h4>
      <p>株式会社フューチャースタイル</p>
        
      <h4>運営統括責任者</h4>
      <p>内田信太郎</p>
        
      <h4>所在地</h4>
      <p>〒174-0073 東京都板橋区前野町3丁目47-2-1F</p>
        
      <h4><span></span>電話番号</h4>
      <p>03-5918-8046</p>
        
      <h4>商品代金</h4>
      <p>価格についてのページに記載</p>

      <h4>商品代金以外の必要料金</h4>
      <p>郵政通常はがき代、消費税<br>
          送料450円（沖縄、離島以外）600円（沖縄、離島）<br>
          お支払方法に代金引換を選択された場合は、代金引換手数料<br>
          お支払方法に銀行振込を選択された場合は、振込み手数料</p>
           
      <h4>販売数量</h4>
      <p>サイト内に表示</p>

      <h4>引き渡し期間</h4>
      <p>受注後3日以内<br>
          <span class="small">※年末年始、その他連休はこの限りではありません。</span></p>

      <h4>お支払方法</h4>
      <p>銀行振込、代金引換払い、クレジット決済</p>

      <h4>返品・返品期限</h4>
      <p>商品に瑕疵があった場合には到着後6日以内に送料着払いにて返送ください。</p>
        
      <h4>不良品の取扱</h4>
      <p>・申し込まれた商品と異なる商品が届いた場合<br>
          ・商品が汚れている、または破損している場合上記理由による不良品は交換致します。商品到着後6日以内に弊社までご連絡をいただいた後、ご返送下さい。</p>
{% endblock %}
