@charset "utf-8";
/*
 * l-banner
 * バナー
 */
.l-banner {
  margin-bottom: $size-widemargin;
  text-align: center;
  a {
    display: block;
    margin-bottom: $size-narrowmargin;
  }
  img {
    max-width: 100%;
  }
}
.l-banner-sm {
  padding: 0;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 30px;;
  li {
    padding: 0 5px;
    display: inline-block;
    width: 50%;
    list-style: none;
    margin-bottom: 10px;
    a {
      img {
        max-width: 100%;
      }
    }
  }
}
@media (max-width: $size_sp_bp) {
  .l-banner {
    margin-bottom: $size-widemargin-sp;
    a {
      display: block;
      margin-bottom: $size-narrowmargin-sp;
    }
  }
  .l-banner-sm {
      margin-bottom: $size-narrowmargin-sp;
      margin-left: 0;
      margin-right: 0;
    li {
      text-align: center;
      width: 100%;
      padding: 0;
      list-style: none;
      margin-bottom: $size-narrowmargin-sp;
    }
  }
}