@charset "utf-8";
/*
 * l-nav
 * サイドナビのレイアウト
 */
.l-nav {
  margin-bottom: $size-widemargin;
  h2 {
    border: 2px solid #ffaa8f;
    box-sizing: border-box;
    background: -webkit-linear-gradient(90deg, #dd2c00 0%, #ff6e40 100%);
    background: -moz-linear-gradient(90deg, #dd2c00 0%, #ff6e40 100%);
    background: -o-linear-gradient(90deg, #dd2c00 0%, #ff6e40 100%);
    background: -ms-linear-gradient(90deg, #dd2c00 0%, #ff6e40 100%);
    background: linear-gradient(0deg, #dd2c00 0%, #ff6e40 100%);
    color: #ffffff;
    font-size: 18px; 
    text-align: left;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    &:before {
      content: none;
    }
  }
  ul {
    padding: 0 1px;
    margin-bottom: $size-narrowmargin;
    li {
      list-style: none;
      border: 1px solid $color-white;
      box-shadow: 0 0 0 1px #e0e0e0;
      box-sizing: border-box;
      background: -webkit-linear-gradient(90deg, #f5f5f5 0%, #ffffff 100%);
      background: -moz-linear-gradient(90deg, #f5f5f5 0%, #ffffff 100%);
      background: -o-linear-gradient(90deg, #f5f5f5 0%, #ffffff 100%);
      background: -ms-linear-gradient(90deg, #f5f5f5 0%, #ffffff 100%);
      background: linear-gradient(0deg, #f5f5f5 0%, #ffffff 100%);
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 12px 10px 12px 20px;
        position: relative;
        &:before {
          position: absolute;
          content: " ";
          top: 10px;
          left: 10px;
          right: 0;
          bottom: 10px;
          border-left: 2px solid $color-main;
        }
      }
    }
  }
}