@charset "utf-8";
/*
 * arrowlink
 * 矢印付きリンク
 */
.arrowlink-list li a,
.arrowlink-list-nav li a,
.arrowlink {
  &:before {
    font-family: $font_awesome;
    content: '\f105';
    color: $color-main;
    vertical-align: top;
    font-size: 14px;
    margin-right: 4px;
  }
}
.arrowlink-list-nav {
  list-style: none;
  padding: 0;
  margin-bottom: $size-widemargin;
  li {
    list-style: none;
    border-bottom: 1px solid $color-borderdarkgray;
    padding-top: 10px;
    padding-bottom: 10px;
    &:last-child {
      border: 0;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding-left: 10px;
    }
  }
}