@charset "utf-8";
/*
 * totop
 * ページトップへスクロール
 */
#page-top {
  position: absolute;
  top: -30px;
  right: 30px;
  font-size: 30px;
  background: $color-black;
  width: 110px;
  height: 30px;
  @include border-radius(5px);
  z-index: 1;
  a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: block;
    margin: 0;
    &:hover {
      text-decoration: none;
    }
  }
}

@media (max-width: $size_sp_bp) {
  #page-top {
    right: 0;
    width: 55px;
  }
}