@charset "utf-8";
/*
 * color
 * サイト全体で使うカラーコードの変数を指定する
 */
$color-main: #e30625;
$color-lightred: #e2bac4;
$color-footergray: #404040;
$color-lightgray:#e0e0e0;
$color-darkgray:#0e0e0e;
$color-bordergray: #ededed;
$color-borderdarkgray: #e6e6e6;
$color-black: #000000;
$color-lightorange:#ffede5;
$color-borderorange:#f3d8ca;
$color-red: #d80000;
$color-bgred: #de4830;
$color-white: #ffffff;

$color-cv:				#255f91;
$color-sub: 			#ff4d40;

$color-font-gray: #2c2c2c;
	
$color-yellow: 	  #ffff00;


$color-darkblue  :#063156;
$color-blue      :#3e729f;
$color-lightblue :#d1dde7;

$color-orange:  #ff4d40;

$color-gray:    #959595;
