@charset "UTF-8";
/* setting */
/*
 * path
 * パス
 */
/*
 * color
 * サイト全体で使うカラーコードの変数を指定する
 */
/*
 * font
 * フォント
 */
/*
 * size
 * 各種サイズ
 */
/* tool */
/*
 * mixin
 * サイト全体で使うmixinを指定する
 */
/* base */
/*
 * base
 * 基本クラス類
 */
html,
body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", sans-serif;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  color: #2c2c2c;
  line-height: 150%;
  font-size: 16px;
  height: 100%;
}
html .en,
body .en {
  font-family: "Libre Baskerville", serif;
}

#sb-site {
  background-color: #fff;
}

.container {
  position: relative;
}
.container.container-large {
  max-width: 1366px;
  width: 100%;
}
.container.container-w900 {
  max-width: 900px;
}
.container.container-xl {
  max-width: 1400px;
}
.container.container-md {
  max-width: 960px;
}
.container.container-small {
  max-width: 650px;
}

/* Typography */
h1, h2, h3, h4, p {
  color: #000000;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  border-top: 1px solid #e0e0e0;
  background: -webkit-linear-gradient(90deg, #ededed 0%, #ffffff 100%);
  background: -moz-linear-gradient(90deg, #ededed 0%, #ffffff 100%);
  background: -o-linear-gradient(90deg, #ededed 0%, #ffffff 100%);
  background: -ms-linear-gradient(90deg, #ededed 0%, #ffffff 100%);
  background: linear-gradient(0deg, #ededed 0%, #ffffff 100%);
  font-size: 20px;
  line-height: 175%;
  padding-left: 20px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}
h2:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/common/h2_bg.png) bottom left repeat-x;
}
h2 i.fa {
  font-size: 28px;
  color: #007cfd;
  margin-right: 5px;
}

h3 {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1.92px;
  line-height: 150%;
}

h4 {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.12px;
  line-height: 150%;
}

h5 {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.12px;
  line-height: 150%;
}
h5.ttl-label {
  background: #fff;
  border: 1px solid #ddd;
}

h1, h2, h3, h4, h5, h6, p, b, a, li, span, ul, ol {
  margin-top: 0;
}
h1.text-white, h2.text-white, h3.text-white, h4.text-white, h5.text-white, h6.text-white, p.text-white, b.text-white, a.text-white, li.text-white, span.text-white, ul.text-white, ol.text-white {
  color: #fff;
}
h1.text-default, h2.text-default, h3.text-default, h4.text-default, h5.text-default, h6.text-default, p.text-default, b.text-default, a.text-default, li.text-default, span.text-default, ul.text-default, ol.text-default {
  color: #2c2c2c !important;
}
h1.text-main, h2.text-main, h3.text-main, h4.text-main, h5.text-main, h6.text-main, p.text-main, b.text-main, a.text-main, li.text-main, span.text-main, ul.text-main, ol.text-main {
  color: #3e729f;
}
h1.text-sub, h2.text-sub, h3.text-sub, h4.text-sub, h5.text-sub, h6.text-sub, p.text-sub, b.text-sub, a.text-sub, li.text-sub, span.text-sub, ul.text-sub, ol.text-sub {
  color: #ff4d40;
}
h1.text-red, h2.text-red, h3.text-red, h4.text-red, h5.text-red, h6.text-red, p.text-red, b.text-red, a.text-red, li.text-red, span.text-red, ul.text-red, ol.text-red {
  color: red;
}
h1.text-yellow, h2.text-yellow, h3.text-yellow, h4.text-yellow, h5.text-yellow, h6.text-yellow, p.text-yellow, b.text-yellow, a.text-yellow, li.text-yellow, span.text-yellow, ul.text-yellow, ol.text-yellow {
  color: #ffff00;
}
h1.text-lightblue, h2.text-lightblue, h3.text-lightblue, h4.text-lightblue, h5.text-lightblue, h6.text-lightblue, p.text-lightblue, b.text-lightblue, a.text-lightblue, li.text-lightblue, span.text-lightblue, ul.text-lightblue, ol.text-lightblue {
  color: #255f91;
}
h1.text-blue, h2.text-blue, h3.text-blue, h4.text-blue, h5.text-blue, h6.text-blue, p.text-blue, b.text-blue, a.text-blue, li.text-blue, span.text-blue, ul.text-blue, ol.text-blue {
  color: #e30625;
}
h1.text-darkblue, h2.text-darkblue, h3.text-darkblue, h4.text-darkblue, h5.text-darkblue, h6.text-darkblue, p.text-darkblue, b.text-darkblue, a.text-darkblue, li.text-darkblue, span.text-darkblue, ul.text-darkblue, ol.text-darkblue {
  color: #063156;
}
h1.text-orange, h2.text-orange, h3.text-orange, h4.text-orange, h5.text-orange, h6.text-orange, p.text-orange, b.text-orange, a.text-orange, li.text-orange, span.text-orange, ul.text-orange, ol.text-orange {
  color: #ff4d40;
}
h1.text-gray, h2.text-gray, h3.text-gray, h4.text-gray, h5.text-gray, h6.text-gray, p.text-gray, b.text-gray, a.text-gray, li.text-gray, span.text-gray, ul.text-gray, ol.text-gray {
  color: #959595;
}
h1.text-darkgray, h2.text-darkgray, h3.text-darkgray, h4.text-darkgray, h5.text-darkgray, h6.text-darkgray, p.text-darkgray, b.text-darkgray, a.text-darkgray, li.text-darkgray, span.text-darkgray, ul.text-darkgray, ol.text-darkgray {
  color: #0e0e0e;
}

p {
  margin-bottom: 20px;
}

p, span, b, li {
  font-size: 14px;
}
p.text-xs, span.text-xs, b.text-xs, li.text-xs {
  font-size: 12px;
  line-height: 150%;
}
p.text-sm, span.text-sm, b.text-sm, li.text-sm {
  font-size: 14px;
  line-height: 150%;
}
p.text-lg, span.text-lg, b.text-lg, li.text-lg {
  font-size: 17px;
  line-height: 150%;
}
p.text-20, span.text-20, b.text-20, li.text-20 {
  font-size: 20px;
  line-height: 150%;
}
p.text-22, span.text-22, b.text-22, li.text-22 {
  font-size: 22px;
  line-height: 150%;
}
p.text-23, span.text-23, b.text-23, li.text-23 {
  font-size: 23px;
  line-height: 150%;
}
p.text-25, span.text-25, b.text-25, li.text-25 {
  font-size: 25px;
  line-height: 150%;
}
p.text-26, span.text-26, b.text-26, li.text-26 {
  font-size: 26px;
  line-height: 150%;
}
p.text-30, span.text-30, b.text-30, li.text-30 {
  font-size: 30px;
  line-height: 150%;
}
p.text-35, span.text-35, b.text-35, li.text-35 {
  font-size: 35px;
  line-height: 150%;
}
p.text-40, span.text-40, b.text-40, li.text-40 {
  font-size: 40px;
  line-height: 150%;
}

a {
  color: #0e0e0e;
  text-decoration: none;
}
a.tdnone {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
  color: #e30625;
}
a:hover {
  color: #e30625;
  text-decoration: none;
  opacity: 0.7;
}
a.outerlink:after {
  font-family: "FontAwesome";
  content: ' \f08e';
  font-size: 12px;
}
a.hoveralpha {
  -moz-transition: background-color 0.2s linear, color 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
  display: inline-block;
}
a.hoveralpha:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  text-decoration: none;
}

.anchor {
  padding-top: 180px;
  margin-top: -180px;
  text-decoration: none;
}

.error-message {
  color: #e60011;
  display: block;
  font-size: 14px;
  padding-top: 5px;
}

.contact-phone {
  font-size: 35px;
}

/* Input */
.radio-inline {
  line-height: 28px;
  padding-left: 30px;
}
.radio-inline input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-left: -30px;
}
.radio-inline input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-left: -30px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.input-group {
  width: 100%;
}
.input-group input.form-control, .input-group textarea.form-control {
  height: 46px;
  border: 2px solid #e0e0e0;
  border-radius: 2px;
  box-shadow: none;
  color: #494949;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
}
.input-group input.form-control:active, .input-group input.form-control:hover, .input-group input.form-control:focus, .input-group textarea.form-control:active, .input-group textarea.form-control:hover, .input-group textarea.form-control:focus {
  border-color: #3e729f;
}
.input-group .input-group-label {
  color: #959595;
  text-align: center;
  height: 42px;
  line-height: 1;
  padding: 14px;
  border: 0 transparent;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: auto;
}
.input-group .input-group-label + input {
  padding-left: 40px;
}

/* Bootstrap customize */
.row-middle > [class*='col-'] {
  display: inline-block;
  letter-spacing: 0;
  vertical-align: middle;
  float: none !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
.table.table-nobd > thead > tr > th, .table.table-nobd > tbody > tr > th, .table.table-nobd > tfoot > tr > th, .table.table-nobd > thead > tr > td, .table.table-nobd > tbody > tr > td, .table.table-nobd > tfoot > tr > td {
  border: none;
}
.table.table-blue > tbody > tr > th {
  background-color: #f0f3f6;
}
.table.table-blue > tbody > tr > th.bg-blue {
  background: #3e729f;
  color: #fff;
  font-weight: normal;
}
.table.table-blue > tbody > tr > th.bg-white {
  background: #fff;
}
.table.table-blue > tbody > tr > td {
  background: #d1dde7;
}
.table.table-blue > thead > tr > th, .table.table-blue > tbody > tr > th, .table.table-blue > tfoot > tr > th, .table.table-blue > thead > tr > td, .table.table-blue > tbody > tr > td, .table.table-blue > tfoot > tr > td {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  padding: 15px 20px;
}

/* Background */
.bg-white {
  background: #fff;
}

.bg-lightgray {
  background: whitesmoke;
}

/* Border */
.bd-1 {
  border-width: 1px;
  border-style: solid;
}

.bd-2 {
  border-width: 2px;
  border-style: solid;
}

.bd-3 {
  border-width: 3px;
  border-style: solid;
}

.bd-btm-1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.bd-gray {
  border-color: #e0e0e0;
}

/* Border Radius */
.bg-white {
  background: #fff;
}

/* Layout option */
.mt40 {
  margin-top: 40px;
}

.mt30 {
  margin-top: 30px;
}

.mb-w {
  margin-bottom: 40px;
}

.mb0 {
  margin-bottom: 0px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb100 {
  margin-bottom: 100px;
}

.pad5 {
  padding: 5px;
}

.pad10 {
  padding: 10px;
}

.pad30 {
  padding: 30px;
}

.pt30 {
  padding-top: 30px;
}

.pt50 {
  padding-top: 50px;
}

.pl10 {
  padding-left: 10px;
}

.pl40 {
  padding-left: 40px;
}

.pr3 {
  padding-right: 3px;
}

.pr10 {
  padding-right: 10px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.lh200p {
  line-height: 200%;
}

.lh150p {
  line-height: 150%;
}

.w90p {
  width: 90% !important;
}

.w100p {
  width: 100% !important;
}

.c-main {
  color: #e30625;
}

.note {
  margin-left: 12px;
  font-size: 12px;
  color: #666;
}
.note:before {
  margin-left: -12px;
  content: "※";
}

.ti1 {
  padding-left: 1em !important;
  text-indent: -1em;
}

.ti1_5 {
  padding-left: 1.5em !important;
  text-indent: -1.5em;
}

.ti2 {
  padding-left: 2em !important;
  text-indent: -2em;
}

.ti2_5 {
  padding-left: 2.5em !important;
  text-indent: -2.5em;
}

.ti3 {
  padding-left: 3em !important;
  text-indent: -3em;
}

.wb-ba {
  word-break: break-all;
}

.pc_only {
  display: block !important;
}

.pc_only_ex {
  display: block !important;
}

.pc_only_bootstrap {
  display: block !important;
}

.sp_only {
  display: none !important;
}

.sp_only_bootstrap {
  display: none;
}

.sp_only_ib {
  display: none !important;
}

.tab_only {
  display: none !important;
}

.tab_only_ib {
  display: none !important;
}

@media (max-width: 991px) {
  .pc_only_ex {
    display: none !important;
  }

  .sp_only {
    display: none !important;
  }

  .sp_only_ib {
    display: none !important;
  }

  .tab_only {
    display: block !important;
  }

  .tab_only_ib {
    display: inline-block !important;
  }
}
@media (max-width: 769px) {
  .pc_only {
    display: none !important;
  }

  .sp_only {
    display: block !important;
  }

  .sp_only_ib {
    display: inline-block !important;
  }

  h2 {
    border-top: 1px solid #e0e0e0;
    font-size: 18px;
    line-height: 175%;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-top: 6px;
    padding-bottom: 7px;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 20px;
    line-height: 150%;
  }

  .anchor {
    padding-top: 80px;
    margin-top: -80;
    text-decoration: none;
  }

  .contact-phone {
    font-size: 25px;
  }

  /* Bootstrap customize */
  .table.table-blue > thead > tr > th, .table.table-blue > tbody > tr > th, .table.table-blue > tfoot > tr > th, .table.table-blue > thead > tr > td, .table.table-blue > tbody > tr > td, .table.table-blue > tfoot > tr > td {
    padding: 10px;
    font-size: 12px;
  }
  .table.table-blue > thead > tr > th span, .table.table-blue > tbody > tr > th span, .table.table-blue > tfoot > tr > th span, .table.table-blue > thead > tr > td span, .table.table-blue > tbody > tr > td span, .table.table-blue > tfoot > tr > td span {
    font-size: 12px;
  }

  /* Layout option */
  .mb0-sp {
    margin-bottom: 0px;
  }

  .mb10-sp {
    margin-bottom: 10px;
  }

  .mb20-sp {
    margin-bottom: 20px;
  }

  .mb30-sp {
    margin-bottom: 30px;
  }

  .pt0-sp {
    padding-top: 0px;
  }

  .pr0-sp {
    padding-right: 0px;
  }

  .pl0-sp {
    padding-left: 0px;
  }

  .pc_only_bootstrap {
    display: none !important;
  }

  .sp_only_bootstrap {
    display: block;
  }
}
/* layout */
/*
 * l-header
 * ヘッダーのレイアウト
 */
.l-header {
  width: 100%;
  height: 150px;
}
.l-header .l-header-main {
  background: #e30625 url(../img/common/header-main-bg.png) top right no-repeat;
}
.l-header .l-header-main .l-header-inner .l-header-logo {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
}
.l-header .l-header-main .l-header-inner .l-header-logo img {
  vertical-align: top;
}
.l-header .l-header-main .l-header-inner .l-header-logo span {
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
}
.l-header .l-header-main .l-header-inner .l-header-sp-menu {
  float: right;
  margin: 13px 10px 0 0;
}
.l-header .l-header-main .l-header-inner .l-header-links {
  margin-top: 5px;
}
.l-header .l-header-main .l-header-inner .l-header-links ul {
  margin-bottom: 8px;
}
.l-header .l-header-main .l-header-inner .l-header-links a {
  font-size: 14px;
  font-weight: bold;
}
.l-header .l-header-main .l-header-inner .l-header-links img {
  vertical-align: top;
  margin-top: 15px;
  margin-right: 5px;
}
.l-header .l-header-main .l-header-inner .l-header-sp-contact {
  float: right;
  margin: 10px 10px 0 0;
}
.l-header .l-header-main .l-header-inner .l-header-cv-area {
  position: absolute;
  right: 0;
  top: 20px;
}
.l-header .l-header-main .l-header-inner .l-header-cv-area .l-header-cv-area-info {
  width: 270px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  letter-spacing: 0;
}
.l-header .l-header-main .l-header-inner .l-header-cv-area .l-header-cv-area-info p {
  margin: 0;
}
.l-header .l-header-main .l-header-inner .l-header-cv-area .l-header-cv-area-info .l-header-cv-area-info-phonenumber {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin-right: 5px;
}
.l-header .l-header-main .l-header-inner .l-header-cv-area .l-header-cv-area-info .l-header-cv-area-info-phonenumber i {
  margin-right: 5px;
}
.l-header .l-header-main .l-header-inner .l-header-cv-area .l-header-cv-area-info .l-header-cv-area-info-businesshours {
  font-size: 10px;
  font-weight: bold;
  margin-top: 0px;
  letter-spacing: 0.5px;
}
.l-header .l-header-main .l-header-inner .l-header-cv-area .l-header-cv-area-contact {
  width: 290px;
  display: inline-block;
  margin-right: 5px;
}
.l-header .l-header-main .l-header-inner .l-header-gnav {
  margin-top: 13px;
}
.l-header .l-header-main .l-header-inner .l-header-gnav .l-header-gnav-solution {
  width: 960px;
}
.l-header .l-header-main .l-header-inner .l-header-gnav .l-header-gnav-solution .gnav-item-box {
  min-height: 510px;
}
.l-header .l-header-main .l-header-inner .l-header-gnav .l-header-gnav-case {
  width: 240px;
}
.l-header .l-header-main .l-header-inner .l-header-gnav .l-header-gnav-service {
  width: 480px;
}
.l-header .l-header-main .l-header-inner .l-header-gnav .l-header-gnav-download {
  width: 240px;
}
.l-header .l-header-main .l-header-inner .l-header-gnav .l-header-gnav-about {
  width: 240px;
}
.l-header .l-header-navmenu {
  background: -webkit-linear-gradient(90deg, #ededed 0%, #ffffff 100%);
  background: -moz-linear-gradient(90deg, #ededed 0%, #ffffff 100%);
  background: -o-linear-gradient(90deg, #ededed 0%, #ffffff 100%);
  background: -ms-linear-gradient(90deg, #ededed 0%, #ffffff 100%);
  background: linear-gradient(0deg, #ededed 0%, #ffffff 100%);
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}
.l-header .l-header-inner .l-header-logo {
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 0;
}
.l-header .l-header-inner .l-header-logo img {
  vertical-align: top;
}
.l-header .l-header-inner .l-header-sp-menu {
  float: right;
  margin: 15px 10px 0 0;
}
.l-header .l-header-inner .l-header-links {
  margin-top: 5px;
}
.l-header .l-header-inner .l-header-links a {
  font-size: 12px;
}
.l-header .l-header-inner .l-header-sp-contact {
  float: right;
  margin: 10px 10px 0 0;
}
.l-header .l-header-inner .l-header-cv-area {
  position: absolute;
  right: 0;
  top: 20px;
}
.l-header .l-header-inner .l-header-cv-area .l-header-cv-area-info {
  width: 270px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  letter-spacing: 0;
}
.l-header .l-header-inner .l-header-cv-area .l-header-cv-area-info p {
  margin: 0;
}
.l-header .l-header-inner .l-header-cv-area .l-header-cv-area-info .l-header-cv-area-info-phonenumber {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin-right: 5px;
}
.l-header .l-header-inner .l-header-cv-area .l-header-cv-area-info .l-header-cv-area-info-phonenumber i {
  margin-right: 5px;
}
.l-header .l-header-inner .l-header-cv-area .l-header-cv-area-info .l-header-cv-area-info-businesshours {
  font-size: 10px;
  font-weight: bold;
  margin-top: 0px;
  letter-spacing: 0.5px;
}
.l-header .l-header-inner .l-header-cv-area .l-header-cv-area-contact {
  width: 290px;
  display: inline-block;
  margin-right: 5px;
}
.l-header .l-header-inner .l-header-gnav {
  margin-top: 13px;
}
.l-header .l-header-inner .l-header-gnav .l-header-gnav-solution {
  width: 960px;
}
.l-header .l-header-inner .l-header-gnav .l-header-gnav-solution .gnav-item-box {
  min-height: 510px;
}
.l-header .l-header-inner .l-header-gnav .l-header-gnav-case {
  width: 240px;
}
.l-header .l-header-inner .l-header-gnav .l-header-gnav-service {
  width: 480px;
}
.l-header .l-header-inner .l-header-gnav .l-header-gnav-download {
  width: 240px;
}
.l-header .l-header-inner .l-header-gnav .l-header-gnav-about {
  width: 240px;
}
.l-header .l-header-subgnav {
  background-color: #1c1c1c;
  height: 30px;
}

@media (max-width: 769px) {
  .l-header {
    height: 50px;
    border-bottom: solid 2px #000000;
    background: #e30625;
  }
  .l-header .l-header-main {
    height: 48px;
    background: #e30625 url(../img/common/header-main-bg-sp.png) top right no-repeat;
  }
  .l-header .l-header-main .l-header-inner .l-header-logo {
    margin-top: 13px;
    margin-left: 0;
    font-size: 0;
    text-align: center;
  }
  .l-header .l-header-main .l-header-inner .l-header-logo img {
    max-width: 110px;
  }
}
/*
 * l-footer
 * フッター
 */
.l-footer {
  background: #e30625 url(../img/common/footer-main-bg.png) right top no-repeat;
  border-top: 3px solid #000000;
}
.l-footer .l-footer-nav {
  padding-top: 35px;
  background: url(../img/common/footer-nav-bg.png) bottom center no-repeat;
  position: relative;
}
.l-footer .l-footer-nav h3 {
  color: #ffffff;
  border-left: 2px solid #ffffff;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: normal;
  padding-left: 10px;
}
.l-footer .l-footer-nav ul {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 40px;
}
.l-footer .l-footer-nav ul li {
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 2px;
}
.l-footer .l-footer-nav ul li:before {
  content: '-';
  margin-right: 5px;
}
.l-footer .l-footer-nav ul li a {
  color: #ffffff;
}
.l-footer .l-footer-nav .info-area {
  margin-top: 100px;
}
.l-footer .l-footer-nav .info-area img.logo {
  margin-right: 30px;
}
.l-footer .l-footer-nav .info-area img.phone-icon {
  margin-right: 5px;
}
.l-footer .l-footer-nav .l-footer-link {
  text-align: center;
  padding-top: 40px;
  padding-left: 0;
  padding-top: 0;
  margin-bottom: 0;
}
.l-footer .l-footer-nav .l-footer-link li {
  display: inline-block;
  padding-left: 10px;
}
.l-footer .l-footer-nav .l-footer-link li:after {
  content: '|';
  color: #ffffff;
  padding-left: 10px;
}
.l-footer .l-footer-nav .l-footer-link li:last-child:after {
  content: none;
}
.l-footer .l-footer-nav .l-footer-link li:before {
  content: none;
}
.l-footer .l-footer-nav .l-footer-link li a {
  color: #ffffff;
  font-size: 12px;
}
.l-footer .l-footer-copyright {
  padding-top: 8px;
  padding-bottom: 8px;
  background: #e30625;
}
.l-footer .l-footer-copyright p {
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .l-footer .l-footer-nav .info-area img.logo {
    margin-right: 5px;
  }
  .l-footer .l-footer-nav .info-area .phone-info.phone-info-footer p.phone-number {
    font-size: 25px;
  }
}
@media (max-width: 990px) {
  .l-footer .l-footer-nav .info-area img.logo {
    width: 100px;
  }
}
@media (max-width: 769px) {
  .l-footer {
    background: #e30625 url(../img/common/footer-main-bg-sp.png) right top no-repeat;
    border-top: 2px solid #000000;
  }
  .l-footer .l-footer-nav {
    padding-top: 15px;
  }
  .l-footer .l-footer-nav h3 {
    border-left: 1px solid #ffffff;
    margin-left: 20px;
  }
  .l-footer .l-footer-nav ul {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .l-footer .l-footer-nav ul li {
    margin-bottom: 0;
    line-height: 175%;
  }
  .l-footer .l-footer-nav .l-footer-link {
    margin: 0 0 10px 0;
  }
  .l-footer .l-footer-nav .l-footer-link li a {
    font-size: 10px;
  }
}
/*
 * l-eyecatch
 * アイキャッチ
 */
.l-eyecatch {
  margin-bottom: 40px;
  text-align: center;
  background-color: #ff7000;
}
.l-eyecatch img {
  max-width: 100%;
}

@media (max-width: 769px) {
  .l-eyecatch {
    margin-bottom: 10px;
    text-align: center;
    background-color: #ff7000;
  }
  .l-eyecatch img {
    max-width: 100%;
  }
}
/*
 * l-nav
 * サイドナビのレイアウト
 */
.l-nav {
  margin-bottom: 40px;
}
.l-nav h2 {
  border: 2px solid #ffaa8f;
  box-sizing: border-box;
  background: -webkit-linear-gradient(90deg, #e30625 0%, #ff6e82 100%);
  background: -moz-linear-gradient(90deg, #e30625 0%, #ff6e82 100%);
  background: -o-linear-gradient(90deg, #e30625 0%, #ff6e82 100%);
  background: -ms-linear-gradient(90deg, #e30625 0%, #ff6e82 100%);
  background: linear-gradient(0deg, #e30625 0%, #ff6e82 100%);
  color: #ffffff;
  font-size: 18px;
  text-align: left;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
}
.l-nav h2:before {
  content: none;
}
.l-nav ul {
  padding: 0 1px;
  margin-bottom: 20px;
}
.l-nav ul li {
  list-style: none;
  border: 1px solid #ffffff;
  box-shadow: 0 0 0 1px #e0e0e0;
  box-sizing: border-box;
  background: -webkit-linear-gradient(90deg, #f5f5f5 0%, #ffffff 100%);
  background: -moz-linear-gradient(90deg, #f5f5f5 0%, #ffffff 100%);
  background: -o-linear-gradient(90deg, #f5f5f5 0%, #ffffff 100%);
  background: -ms-linear-gradient(90deg, #f5f5f5 0%, #ffffff 100%);
  background: linear-gradient(0deg, #f5f5f5 0%, #ffffff 100%);
}
.l-nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px 10px 12px 20px;
  position: relative;
}
.l-nav ul li a:before {
  position: absolute;
  content: " ";
  top: 10px;
  left: 10px;
  right: 0;
  bottom: 10px;
  border-left: 2px solid #e30625;
}

/*
 * l-main-contents
 * メインコンテンツ
 */
.l-main-contents {
  margin-bottom: 40px;
}
.l-main-contents .scroll-box {
  height: 250px;
  overflow-y: scroll;
  margin: 60px 15px;
  border: solid 1px;
}
.l-main-contents .h3 {
  margin-bottom: 15px;
  font-size: 16px;
  padding: 5px 5px 5px 10px;
  font-weight: 700;
  letter-spacing: 1.92px;
  line-height: 150%;
}
.l-main-contents h3 {
  margin-bottom: 15px;
  font-size: 16px;
  background-color: #eeeeee;
  padding: 5px 5px 5px 10px;
  font-weight: 700;
  letter-spacing: 1.92px;
  line-height: 150%;
}
.l-main-contents h3 span {
  font-size: 14px;
  border-left: 2px solid #e30625;
  padding: 2px 10px 2px 0px;
}
.l-main-contents h4 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.12px;
  line-height: 150%;
  border-bottom: 1px solid #e30625;
  padding-bottom: 5px;
}
.l-main-contents table.law {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 25px;
}
.l-main-contents table.law th, .l-main-contents table.law td {
  padding: 10px;
  border: 1px solid #e0e0e0;
}
.l-main-contents table.law th, .l-main-contents table.cancel th {
  background-color: #eee;
  text-align: center;
  width: 30%;
}
.l-main-contents .flowbox {
  background-color: #eee;
  padding: 25px 0px 25px 0px;
}
.l-main-contents .flowbox p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0px;
}
.l-main-contents .flowtext p {
  margin-top: 10px;
}
.l-main-contents i.fa-5 {
  font-size: 100px;
  margin: -20px 0px -10px 0px;
  color: #e30625;
}
.l-main-contents .aligncenter {
  text-align: center;
}
.l-main-contents .mt-60 {
  margin-top: -60px;
}
.l-main-contents .mt-45 {
  margin-top: -45px;
}

@media (max-width: 769px) {
  .l-main-contents {
    margin-bottom: 20px;
  }
  .l-main-contents table.law {
    border-top: 1px solid #e0e0e0;
  }
  .l-main-contents table.law td {
    display: block;
    text-align: center;
  }
  .l-main-contents table.law th {
    display: block;
    border-top: none;
    border-bottom: none;
    width: 100%;
  }
  .l-main-contents table .alignleftsp {
    text-align: left !important;
  }
}
/*
 * l-banner
 * バナー
 */
.l-banner {
  margin-bottom: 40px;
  text-align: center;
}
.l-banner a {
  display: block;
  margin-bottom: 20px;
}
.l-banner img {
  max-width: 100%;
}

.l-banner-sm {
  padding: 0;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 30px;
}
.l-banner-sm li {
  padding: 0 5px;
  display: inline-block;
  width: 50%;
  list-style: none;
  margin-bottom: 10px;
}
.l-banner-sm li a img {
  max-width: 100%;
}

@media (max-width: 769px) {
  .l-banner {
    margin-bottom: 20px;
  }
  .l-banner a {
    display: block;
    margin-bottom: 10px;
  }

  .l-banner-sm {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  .l-banner-sm li {
    text-align: center;
    width: 100%;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
  }
}
/*
 * l-contents
 * ヘッダーを除くコンテンツ箇所
 */
.l-contents {
  margin-bottom: 40px;
}

@media (max-width: 769px) {
  .l-contents {
    margin-bottom: 20px;
  }
}
/* module */
/*
 * arrowlink
 * 矢印付きリンク
 */
.arrowlink-list li a:before,
.arrowlink-list-nav li a:before,
.arrowlink:before {
  font-family: "FontAwesome";
  content: '\f105';
  color: #e30625;
  vertical-align: top;
  font-size: 14px;
  margin-right: 4px;
}

.arrowlink-list-nav {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}
.arrowlink-list-nav li {
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 10px;
  padding-bottom: 10px;
}
.arrowlink-list-nav li:last-child {
  border: 0;
}
.arrowlink-list-nav li a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

/*
 * accordion
 * アコーディオンメニュー
 */
.accordion {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}
.accordion li {
  list-style: none;
}
.accordion > li {
  border: 1px solid #ededed;
  box-sizing: border-box;
  background: -webkit-linear-gradient(90deg, #f5f5f5 0%, #ffffff 100%);
  background: -moz-linear-gradient(90deg, #f5f5f5 0%, #ffffff 100%);
  background: -o-linear-gradient(90deg, #f5f5f5 0%, #ffffff 100%);
  background: -ms-linear-gradient(90deg, #f5f5f5 0%, #ffffff 100%);
  background: linear-gradient(0deg, #f5f5f5 0%, #ffffff 100%);
  max-width: 240px;
  position: relative;
}
.accordion > li:after {
  position: absolute;
  right: 10px;
  top: 15px;
  font-family: "FontAwesome";
  content: '\f107';
  color: #e30625;
}
.accordion > li.open:after {
  content: '\f106';
}
.accordion > li p {
  font-size: 14px;
  color: #0e0e0e;
  font-weight: bold;
  margin-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
}
.accordion > li p.accordion-subtext {
  margin-top: 10px;
  margin-bottom: 0;
  color: #e30625;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
}
.accordion > li ul {
  padding: 0;
  border-bottom: 1px solid #f3d8ca;
}
.accordion > li ul li {
  box-sizing: border-box;
  height: 40px;
  background-color: #ffede5;
  border-bottom: 1px solid #f3d8ca;
}
.accordion > li ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}

/*
 * sellingitem
 * 売れ筋アイテム
 */
.sellingitem {
  margin-left: -10px;
  margin-right: -10px;
  list-style: none;
  padding: 0;
}
.sellingitem li {
  width: 33.33%;
  padding: 0 10px 20px;
  display: inline-block;
  list-style: none;
  vertical-align: top;
}
.sellingitem li div.sellingitem-box {
  padding: 40px 40px;
  margin: 0;
  border: 1px solid #e6e6e6;
}
.sellingitem li div .sellingitem-img {
  padding: 0;
  text-align: center;
  border: none;
  margin-bottom: 40px;
}
.sellingitem li div .sellingitem-img img {
  max-width: 100%;
  max-height: 94px;
}
.sellingitem li p {
  font-size: 14px;
  color: #0e0e0e;
  line-height: 175%;
}
.sellingitem li p.sellingitem-name {
  margin-bottom: 40px;
}
.sellingitem li p.sellingitem-price-title {
  font-weight: bold;
  margin-bottom: 0;
}
.sellingitem li p.sellingitem-price {
  text-align: right;
  font-weight: bold;
  margin-bottom: 5px;
}
.sellingitem li p.sellingitem-tocart {
  text-align: right;
  margin: 0;
}
.sellingitem li span.sellingitem-price-strong {
  font-size: 16px;
  color: #d80000;
}

@media (max-width: 769px) {
  .sellingitem {
    margin-left: -5px;
    margin-right: -5px;
  }
  .sellingitem li {
    width: 50%;
    padding: 0 5px 10px;
  }
  .sellingitem li div.sellingitem-box {
    padding: 40px 20px;
  }
  .sellingitem li p {
    font-size: 12px;
    color: #0e0e0e;
    line-height: 175%;
  }
  .sellingitem li p.sellingitem-name {
    margin-bottom: 20px;
  }
  .sellingitem li p.sellingitem-price-title {
    font-size: 10px;
  }
  .sellingitem li p.sellingitem-price {
    font-size: 11px;
  }
  .sellingitem li p.sellingitem-tocart img {
    max-width: 100%;
  }
  .sellingitem li span.sellingitem-price-strong {
    font-size: 15px;
  }
}
.sellingitem-nav {
  list-style: none;
  padding: 0;
}
.sellingitem-nav li {
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
}
.sellingitem-nav li div.sellingitem-img {
  border: 1px solid #e6e6e6;
  padding: 5px;
  text-align: center;
}
.sellingitem-nav li div.sellingitem-img img {
  max-width: 100%;
  max-height: 100%;
}
.sellingitem-nav li p {
  font-size: 12px;
  color: #0e0e0e;
  line-height: 175%;
}
.sellingitem-nav li p.sellingitem-name {
  margin-bottom: 20px;
}
.sellingitem-nav li p.sellingitem-price {
  font-weight: bold;
  margin-bottom: 5px;
}
.sellingitem-nav li p.sellingitem-tocart {
  text-align: right;
  margin: 0;
}
.sellingitem-nav li span.sellingitem-price-strong {
  font-size: 16px;
  color: #d80000;
}

/*
 * product-list
 * 商品リスト
 */
.product-list-title {
  font-size: 16px;
  color: #1c1c1c;
  margin-bottom: 20px;
}
.product-list-title:before {
  content: '●';
  color: #e30625;
}

.product-list {
  padding: 0;
  font-size: 0;
  margin-left: -14px;
  margin-right: -14px;
}
.product-list li {
  padding: 0 14px;
  list-style: none;
  display: inline-block;
  margin-bottom: 28px;
  width: 33.33%;
  vertical-align: top;
}
.product-list li .item-box {
  border: 1px solid #e6e6e6;
  padding: 25px 20px;
}
.product-list li .item-box .img-area {
  text-align: center;
  margin-bottom: 20px;
  height: 170px;
  position: relative;
}
.product-list li .item-box .img-area img {
  max-height: 170px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  max-width: 100%;
}
.product-list li .item-box .info-area .product-name {
  font-size: 14px;
  color: #0e0e0e;
  font-weight: normal;
  margin-bottom: 20px;
}
.product-list li .item-box .info-area .info-area-price-area {
  text-align: right;
  margin-bottom: 10px;
}
.product-list li .item-box .info-area .info-area-price-area .unit {
  font-size: 14px;
  color: #0e0e0e;
  font-weight: bold;
  vertical-align: top;
  margin-right: 10px;
}
.product-list li .item-box .info-area .info-area-price-area .price {
  font-size: 18px;
  font-weight: bold;
  color: #d80000;
}
.product-list li .item-box .info-area .info-area-price-area .tax {
  font-size: 14px;
  font-weight: bold;
  color: #d80000;
}
.product-list li .item-box .info-area .button-area {
  margin-bottom: 0;
  text-align: right;
}

@media (max-width: 991px) {
  .product-list li {
    width: 50%;
  }
}
@media (max-width: 769px) {
  .product-list li {
    width: 100%;
  }
}
/*
 * product-detail
 * 商品詳細
 */
.product-detail {
  margin-bottom: 40px;
}
.product-detail h2 {
  color: #0e0e0e;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  background: none;
  padding-left: 0;
  padding-top: 0;
}
.product-detail h2:before {
  background: none;
}
.product-detail .product-detail-image-area {
  text-align: center;
}
.product-detail .product-detail-image-area img {
  max-width: 100%;
}
.product-detail .product-detail-info-detail-area {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}
.product-detail .product-detail-info-detail-area p {
  margin: 0;
}
.product-detail .product-detail-option-area {
  border-bottom: 1px solid #e6e6e6;
  padding-top: 20px;
  padding-bottom: 20px;
}
.product-detail .product-detail-option-area label {
  width: 120px;
  font-size: 14px;
  font-weight: normal;
}
.product-detail .product-detail-option-area input[type="number"] {
  width: 70px;
  height: 60px;
  margin-left: 10px;
  font-size: 30px;
  vertical-align: middle;
}
.product-detail .product-detail-option-area input[type="checkbox"],
.product-detail .product-detail-option-area input[type="radio"] {
  width: 24px;
  height: 24px;
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  margin-right: 10px;
  vertical-align: bottom;
}
.product-detail .product-detail-option-area .product-detail-option-number {
  display: inline-block;
  width: 120px;
  vertical-align: top;
}
.product-detail .product-detail-option-area .product-detail-option-number-control {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}
.product-detail .product-detail-price-area {
  padding-top: 20px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.product-detail .product-detail-price-area .product-detail-price-title {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
}
.product-detail .product-detail-price-area .product-detail-price {
  font-size: 28px;
  color: #d80000;
  font-weight: bold;
}

/*
 * contact-form
 * お問い合わせフォーム
 */
.contact-form table {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.contact-form table tr th, .contact-form table tr td {
  vertical-align: middle;
  border: none;
  padding: 16px;
}
.contact-form table tr th .require, .contact-form table tr td .require {
  color: #d80000;
  margin-left: 5px;
}
.contact-form table tr th input[type="text"], .contact-form table tr th input[type="email"], .contact-form table tr th input[type="tel"], .contact-form table tr td input[type="text"], .contact-form table tr td input[type="email"], .contact-form table tr td input[type="tel"] {
  width: 100%;
}
.contact-form table tr th textarea, .contact-form table tr td textarea {
  width: 100%;
}
.contact-form table tr th input[type="radio"], .contact-form table tr td input[type="radio"] {
  vertical-align: top;
  margin-right: 5px;
}
.contact-form table tr th label, .contact-form table tr td label {
  font-weight: normal;
  margin-right: 20px;
}

@media (max-width: 769px) {
  .contact-form table tr th, .contact-form table tr td {
    display: block;
  }
  .contact-form .button-area .button-wrapper {
    margin-bottom: 20px;
  }
}
.regist-form table {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  table-layout: fixed;
}
.regist-form table tr th {
  width: 20%;
}
.regist-form table tr td {
  width: 40%;
}
.regist-form table tr td {
  width: 40%;
}
.regist-form table tr th, .regist-form table tr td {
  vertical-align: middle;
  border: none;
  padding: 16px;
}
.regist-form table tr th .require, .regist-form table tr td .require {
  color: #d80000;
  margin-left: 5px;
}
.regist-form table tr th input[type="text"], .regist-form table tr th input[type="email"], .regist-form table tr th input[type="tel"], .regist-form table tr td input[type="text"], .regist-form table tr td input[type="email"], .regist-form table tr td input[type="tel"] {
  width: 100%;
}
.regist-form table tr th input[type="text"].small, .regist-form table tr th input[type="email"].small, .regist-form table tr th input[type="tel"].small, .regist-form table tr td input[type="text"].small, .regist-form table tr td input[type="email"].small, .regist-form table tr td input[type="tel"].small {
  width: 40%;
}
.regist-form table tr th .segment, .regist-form table tr td .segment {
  display: inline-block;
  margin: 0 10px;
}
.regist-form table tr th textarea, .regist-form table tr td textarea {
  width: 100%;
}
.regist-form table tr th input[type="radio"], .regist-form table tr td input[type="radio"] {
  vertical-align: top;
  margin-right: 5px;
}
.regist-form table tr th label, .regist-form table tr td label {
  font-weight: normal;
  margin-right: 20px;
}

@media (max-width: 769px) {
  .regist-form table tr th, .regist-form table tr td {
    width: auto;
    display: block;
  }
  .regist-form .button-area .button-wrapper {
    margin-bottom: 20px;
  }
}
.flow-box {
  margin: 20px 0;
}
.flow-box .flow-box-item {
  position: relative;
  text-align: center;
}
.flow-box .flow-box-item:not(:last-child):after {
  position: absolute;
  content: "▶";
  color: #999;
  right: -6px;
  top: 0;
  font-size: 12px;
}
.flow-box .flow-box-item p {
  border: 1px #000 solid;
}
.flow-box .flow-box-item p.active {
  color: #e30625;
  border-color: #e30625;
}

@media (max-width: 769px) {
  .flow-box {
    margin: 20px 0;
  }
  .flow-box .flow-box-item {
    position: relative;
    text-align: center;
  }
  .flow-box .flow-box-item:not(:last-child):after {
    position: absolute;
    content: "▼";
    color: #999;
    right: auto;
    top: auto;
    bottom: -24px;
    font-size: 12px;
  }
}
/*
 * pricelist
 * 価格表
 */
.pricelist {
  margin-top: 40px;
  margin-bottom: 40px;
}
.pricelist .nav.nav-tabs {
  border-bottom: 3px solid #e3e2e2;
}
.pricelist .nav.nav-tabs > li > a {
  margin-right: 0;
}
.pricelist .nav .nav-item {
  border-top: 3px solid #e3e2e2;
  border-left: 3px solid #e3e2e2;
  border-right: 3px solid #e3e2e2;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 16px;
  font-weight: bold;
}
.pricelist .nav .nav-item.active a {
  background-color: #f5f5f5;
}
.pricelist .nav .nav-item a:before {
  content: '●';
  color: #e30625;
  margin-right: 5px;
}
.pricelist table {
  border-bottom: 1px solid #e6e6e6;
}
.pricelist table tbody tr td {
  vertical-align: middle;
  padding: 15px 20px;
  border: none;
}
.pricelist table tbody tr td .price {
  font-weight: bold;
}

/*
 * spmenu
 * スマホメニューボタン
 */
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 25px;
  height: 25px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 12px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}

.js-close-any .menu-trigger {
  background-image: url("../img/common/sp_menu_on.png");
}

.side-menu {
  background-color: #e30625;
}
.side-menu .sp-menu-close-button-area {
  text-align: right;
  height: 35px;
  border-bottom: 1px solid #f5b190;
}
.side-menu .sp-menu-close-button-area i {
  font-size: 30px;
  margin-right: 20px;
}
.side-menu ul {
  list-style: none;
  padding: 0;
}
.side-menu ul li {
  border-bottom: 1px solid #f5b190;
}
.side-menu ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 11px;
}
.side-menu ul li a span {
  background: #ffffff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 5px;
}
.side-menu ul li a span img {
  width: 60%;
}
.side-menu ul li a:hover {
  background: #fff;
}
.side-menu .side-menu-contacttitle,
.side-menu .side-menu-phone-number,
.side-menu .side-menu-time,
.side-menu .side-menu-holiday {
  color: #ffffff;
  padding: 0 10px;
  margin: 0;
}
.side-menu .side-menu-contacttitle {
  font-size: 11px;
}
.side-menu .side-menu-contacttitle img {
  width: 14px;
  margin-right: 5px;
  vertical-align: top;
}
.side-menu .side-menu-phone-number {
  font-size: 17px;
  font-weight: bold;
}
.side-menu .side-menu-time {
  font-size: 11px;
  line-height: 150%;
}
.side-menu .side-menu-holiday {
  font-size: 11px;
  line-height: 150%;
}

.sp-menu-cover.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
  z-index: 1;
}

/*
 * button
 * ボタン
 */
.button {
  display: block;
  min-width: 345px;
  color: #e30625;
  font-size: 20px;
  font-weight: normal;
  line-height: 120%;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  border: none;
  box-sizing: border-box;
  position: relative;
  padding: 25px 25px;
  margin-bottom: 30px;
  box-shadow: 0px 5px 0px 0px #e57373;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  /* Skin */
  /* Structure */
  /* Option */
}
.button i {
  font-size: 23px;
}
.button b, .button span {
  color: #fff;
}
.button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #e30625;
  opacity: 1;
}
.button:after {
  font-weight: normal;
  font-size: 18px;
  margin-right: 20px;
  float: right;
}
.button.mb0 {
  margin-bottom: 0;
}
.button.button-red {
  background-color: #e30625;
  color: #ffffff;
}
.button.button-red:hover {
  color: #e30625;
  background-color: #e2bac4;
}
.button.button-blue {
  color: #fff;
  background-color: #e30625;
}
.button.button-blue span {
  color: #fff;
}
.button.button-orange {
  color: #fff;
  background-color: #ff4d40;
}
.button.button-orange span {
  color: #fff;
}
.button.button-white {
  color: #3e729f;
  background-color: #fff;
  border: 1px solid #3e729f;
  font-weight: bold;
}
.button.button-white p, .button.button-white b, .button.button-white span {
  color: #3e729f;
  font-weight: bold;
}
.button.button-white-gray {
  color: #959595;
  background-color: #fff;
  border: 2px solid #e0e0e0;
  font-weight: bold;
}
.button.button-white-gray p, .button.button-white-gray b, .button.button-white-gray span {
  color: #959595;
  font-weight: bold;
}
.button.button-white-gray:hover {
  border-color: #3e729f;
  color: #3e729f;
}
.button.button-gray {
  background-color: #959595;
  border-color: #959595;
  color: #fff;
}
.button.button-gray:hover, .button.button-gray:focus {
  background-color: #0e0e0e;
  border-color: #0e0e0e;
  color: #fff;
}
.button.button-lightgray {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  color: #959595;
}
.button.button-lightgray:hover, .button.button-lightgray:focus {
  background-color: #959595;
  border-color: #e0e0e0;
  color: #fff;
}
.button.button-nosd {
  box-shadow: none;
}
.button.button-product-list {
  min-width: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  font-size: 14px;
  display: inline;
  padding: 7px 30px;
}
.button.button-product-detail {
  min-width: auto;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  font-size: 18px;
  display: inline;
  padding: 15px 30px;
}
.button.button-product-detail i {
  margin-right: 10px;
}
.button.button-contact-form {
  min-width: auto;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  font-size: 18px;
  display: inline;
  padding: 0;
  min-height: 51px;
}
.button.button-contact-form a {
  color: #fff;
  display: block;
  line-height: 51px;
}
.button.button-numbercontrol {
  background-color: #404040;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  width: 28px;
  height: 28px;
  min-width: auto;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;
  color: #ffffff;
  margin-bottom: 2px;
  vertical-align: middle;
}
.button.button-numbercontrol i {
  font-size: 14px;
}
.button.button-numbercontrol:hover {
  background-color: #2c2c2c;
}
.button.button-responsive {
  width: 100% !important;
  max-width: 100% !important;
  min-width: auto !important;
}
.button.button-lg {
  width: 500px;
  min-width: 500px;
  max-width: 100%;
}
.button.button-md {
  width: 350px;
  min-width: 350px;
  max-width: 100%;
}
.button.button-m {
  width: 250px;
  min-width: 200px;
  max-width: 100%;
  height: 72px;
  font-size: 14px;
  padding: 25px 5px 25px 5px;
}
.button.button-m:after {
  font-size: 12px;
  margin-right: 10px;
}
.button.button-sm {
  width: 200px;
  min-width: 200px;
  max-width: 100%;
  height: 55px;
  font-size: 14px;
  padding: 14px 5px 14px 5px;
}
.button.button-sm:after {
  font-size: 12px;
  margin-right: 10px;
}
.button.button-ico {
  border-radius: 50%;
  width: 30px;
  min-width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
  margin: 0;
  box-shadow: none;
}
.button.button-ico i {
  font-size: 16px;
  margin-left: 0px;
}
.button.button-dd {
  height: 46px;
  font-size: 14px;
  padding: 12px;
  width: 100%;
  max-width: 100%;
  min-width: auto;
  box-shadow: none;
  margin-bottom: 0;
  text-align: left;
}
.button.button-dd strong {
  max-width: 90%;
}
.button.button-dd:hover {
  border-width: 2px;
}
.button.button-header {
  width: 190px;
  min-width: 190px;
  height: 46px;
  font-size: 14px;
  padding: 16px 5px 14px 5px;
  margin-top: 23px;
}
.button.button-header:after {
  font-size: 14px;
  margin-right: 10px;
}
.button.button-single {
  padding: 28px 18px 27px;
}
.button.button-double {
  padding: 15px 18px 15px;
}
.button.button-double .button-double-ico {
  display: block;
  float: left;
  margin-right: 10px;
}
.button.button-double.w-lg {
  width: 315px;
  min-width: 315px;
  padding: 18px 18px 15px;
}
.button.button-double.w-lg .button-txt-sm {
  font-size: 16px;
}
.button.button-double.w-lg .button-txt-md {
  font-size: 20px;
}
.button.button-double.w-md {
  width: 260px;
  min-width: 260px;
  padding: 18px 18px 15px;
}
.button.button-double.w-md .button-txt-sm {
  font-size: 16px;
}
.button.button-double.w-md .button-txt-md {
  font-size: 20px;
}
.button .button-txt-sm {
  font-size: 16px;
  letter-spacing: 0.48px;
  text-align: left;
}
.button .button-txt-md {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.72px;
  text-align: left;
}
.button.button-arrow {
  background-image: url("../img/common/ico-arrow-wh.png");
  background-position: center right 25px;
  background-repeat: no-repeat;
  padding-right: 60px;
}
.button.button-arrow.button-white {
  background-image: url("../img/common/ico-arrow-blue.png");
}
.button.button-arrow.button-header, .button.button-arrow.button-sm {
  background-image: url("../img/common/ico-arrow-s-wh.png");
  background-position: center right 13px;
  padding-right: 25px;
}

.button-right-arrow {
  background-image: url(../img/common/icon-right-arrow.png);
  background-position: center right 20px;
  background-repeat: no-repeat;
}

.button-wrapper {
  margin-bottom: 80px;
}

.wrong-button-wrapper {
  margin-top: -55px;
  position: absolute;
  width: 100%;
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  .button {
    min-width: 150px;
  }
  .button.button-m {
    width: 100%;
    min-width: 100%;
    height: auto;
  }
  .button.button-sidemenu.button-sidemenu-mini {
    font-size: 11px;
  }
  .button.button-sidemenu.button-sidemenu-mini i {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .button {
    padding: 10px;
    /* Structure */
    /* Option */
  }
  .button.button-xl {
    width: 100%;
    height: 120px;
  }
  .button.button-xl .button-xl-txt-md {
    font-size: 26px;
    line-height: 150%;
  }
  .button.button-lg {
    width: 100%;
    min-width: 100%;
  }
  .button.button-md {
    width: 100%;
    min-width: 100%;
  }
  .button.button-sm {
    font-size: 12px;
    width: 100%;
    min-width: 100%;
  }
  .button.button-single {
    padding: 10px;
  }
  .button.button-double.w-lg, .button.button-triple.w-lg {
    width: 100%;
    min-width: 100%;
    padding: 10px 18px 7px;
  }
  .button.button-double.w-lg .button-txt-sm, .button.button-triple.w-lg .button-txt-sm {
    font-size: 10px;
  }
  .button.button-double.w-lg .button-txt-md, .button.button-triple.w-lg .button-txt-md {
    font-size: 16px;
  }
  .button.button-double.w-md, .button.button-triple.w-md {
    width: 100%;
    min-width: 100%;
    padding: 10px 18px 7px;
  }
  .button.button-double.w-md .button-txt-sm, .button.button-triple.w-md .button-txt-sm {
    font-size: 10px;
  }
  .button.button-double.w-md .button-txt-md, .button.button-triple.w-md .button-txt-md {
    font-size: 16px;
  }
  .button .button-txt-sm {
    font-size: 14px;
  }
  .button .button-txt-md {
    font-size: 16px;
  }
  .button.button-arrow {
    background-position: center right 10px;
    padding-right: 40px;
  }

  .wrong-button-wrapper {
    position: relative;
    margin: 0;
    width: 100%;
  }
}
/*
 * gnav
 * グローバルナビゲーション
 */
.gnav {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.gnav li {
  width: 16.66%;
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  text-align: center;
  position: relative;
  color: #000000;
  background: url(../img/common/gnav_bg.png) top right no-repeat;
}
.gnav li:last-child {
  background: none;
}
.gnav li.active a {
  color: #ffffff;
  background: -webkit-linear-gradient(90deg, #e30625 0%, #ff6e82 100%);
  background: -moz-linear-gradient(90deg, #e30625 0%, #ff6e82 100%);
  background: -o-linear-gradient(90deg, #e30625 0%, #ff6e82 100%);
  background: -ms-linear-gradient(90deg, #e30625 0%, #ff6e82 100%);
  background: linear-gradient(0deg, #e30625 0%, #ff6e82 100%);
  opacity: 1;
}
.gnav li.active a span {
  color: #ffffff;
}
.gnav li a {
  font-size: 14px;
  font-weight: bold;
  display: block;
  line-height: 110%;
  vertical-align: middle;
  color: #282828;
  padding: 14px 19px 15px;
  -moz-transition: color 0.2s linear, background 0.2s linear;
  -o-transition: color 0.2s linear, background 0.2s linear;
  -webkit-transition: color 0.2s linear, background 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear;
  text-decoration: none;
}
.gnav li a span {
  color: #e30625;
  font-size: 10px;
  font-weight: normal;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.gnav li a:hover {
  color: #ffffff;
  background: -webkit-linear-gradient(90deg, #e30625 0%, #ff6e82 100%);
  background: -moz-linear-gradient(90deg, #e30625 0%, #ff6e82 100%);
  background: -o-linear-gradient(90deg, #e30625 0%, #ff6e82 100%);
  background: -ms-linear-gradient(90deg, #e30625 0%, #ff6e82 100%);
  background: linear-gradient(0deg, #e30625 0%, #ff6e82 100%);
  opacity: 1;
}
.gnav li a:hover span {
  color: #ffffff;
}
.gnav li:hover ul {
  display: block;
}

@media (max-width: 990px) {
  .gnav li a {
    font-size: 12px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
@media (max-width: 767px) {
  .subgnav {
    background-color: #1c1c1c;
  }
  .subgnav ul li {
    padding-right: 30px;
  }
  .subgnav ul li.active a {
    color: #6cafdf;
  }
  .subgnav ul li.active:before {
    color: #6cafdf;
  }
  .subgnav ul li a {
    color: #fff;
    font-size: 12px;
    line-height: 30px;
  }
  .subgnav ul li:before {
    font-family: "FontAwesome";
    content: '\f105';
    margin-right: 5px;
    color: #fff;
  }
}
/*
 * phone-info
 * 電話番号情報エリア
 */
.phone-info {
  display: inline-block;
}
.phone-info p {
  color: #ffffff;
  margin-bottom: 0;
}
.phone-info p.title {
  font-size: 12px;
}
.phone-info p.phone-number {
  font-size: 30px;
  font-weight: bold;
}
.phone-info p.sub-info {
  font-size: 10px;
}
.phone-info.phone-info-footer {
  vertical-align: middle;
}

/*
 * totop
 * ページトップへスクロール
 */
#page-top {
  position: absolute;
  top: -30px;
  right: 30px;
  font-size: 30px;
  background: #000000;
  width: 110px;
  height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  z-index: 1;
}
#page-top a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: block;
  margin: 0;
}
#page-top a:hover {
  text-decoration: none;
}

@media (max-width: 769px) {
  #page-top {
    right: 0;
    width: 55px;
  }
}
/*
 * breadcrumb
 * パンくずリスト
 */
.l-breadcrumb .breadcrumb {
  background-color: transparent;
}
.l-breadcrumb .breadcrumb > li {
  font-size: 12px;
}
.l-breadcrumb .breadcrumb > li a {
  color: #404040;
}
.l-breadcrumb .breadcrumb > li + li:before {
  content: ">";
  color: #404040;
  padding: 0 10px;
}

.breadcrumb-area {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.breadcrumb-area .breadcrumb-area-inner ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
}
.breadcrumb-area .breadcrumb-area-inner ul li {
  display: inline-block;
  padding-right: 10px;
  font-size: 12px;
}
.breadcrumb-area .breadcrumb-area-inner ul li a {
  color: #000;
  line-height: 28px;
}
.breadcrumb-area .breadcrumb-area-inner ul li:before {
  font-family: "FontAwesome";
  content: '\f105';
  margin-right: 10px;
  color: #000;
}
.breadcrumb-area .breadcrumb-area-inner ul li.home:before {
  content: none;
}

@media (max-width: 767px) {
  .breadcrumb .breadcrumb-inner ul li a {
    color: #e30625;
    font-size: 10px;
    line-height: 25px;
  }
  .breadcrumb .breadcrumb-inner ul li:before {
    color: #e30625;
  }
}

/*# sourceMappingURL=style.css.map */
